{% extends 'base.html.twig' %}

{% block body %}
    <section id="admin-actions" class="container pad-v">
        <div class="row">
            <div class="col-xl-3"></div>
            <div class="col-xl-3"></div>
            <div class="col-xl-3"></div>
        </div>
    </section>
{% endblock %}