{% extends 'base.html.twig' %}

{% block title %}Liste des auteurs{% endblock %}

{% block body %}
    <section id="banner" class="authors-banner">
        <h1 class="page-title">Liste des auteurs</h1>
    </section>

    <section id="authors" class="container pad-v">
        <div>
            <div class="row">
                {% for author in authors %}
                    <div class="card col-5 col-xl-3">
                        <div class="card-body">
                            <h5 class="card-title">{{ author.name }} {{ author.firstname }}</h5>
                            <p class="card-text">Nombre de livres: {{ author.books|length }}</p>
                            <a href="{{ path('authors_one', { id: author.id }) }}" class="card-link">En savoir plus</a>
                        </div>
                    </div>
                {% endfor %}

                {% if authors|length % 3 >= 1 %}
                    {% for i in 0..(authors|length % 3) %}
                        <div class="col-xl-3 d-none d-xl-flex"></div>
                    {% endfor %}
                {% endif %}

                {% if authors|length % 2 == 1 %}
                    <div class="col-5 d-flex d-xl-none"></div>
                {% endif %}

                {% if authors|length < 1 %}
                    <p class="col-xl-3">Aucun auteur trouvé</p>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}