{% extends 'base.html.twig' %}

{% block body %}
    <section id="admin-books" class="container pad-v">
        <div class="row">
            <h1>Gestion des livres</h1>
        </div>
    </section>
{% endblock %}